<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book Page</title>
</head>
<body>
    <h1>Edit Book</h1>
    <!-- this form is pre-populated with values for the server -->
    <form action="/books/<%=foundBook._id%>?_method=PUT" method="POST">
        <p>Title: <input type="text" name="title" value="<%=foundBook.title%>"/></p>
        <p>Author: <input type="text" name="author" value="<%=foundBook.author%>"/></p>
        <p>Completed: <input type="checkbox" name="completed"
            <% if (foundBook.completed) { %>
                checked
            <% } %>
        />
        <input type="submit" value="Submit Changes"/>
    </form>
</body>
</html>