<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book Page</title>
</head>
<body>
    <nav>
        <a href="/books">Back to Books Index</a>
    </nav>
    <h1><%=foundBook.title%></h1>
    <p>Author: <%=foundBook.author%></p>
    <% if(foundBook.completed) { %>
        <p>You have finished this book</p>
    <% } else { %>   
        <p>You have not finished this book</p> 
    <% } %>
</body>
</html>